# Variables d'environnement pour SOGIS (Supabase)
# URL de votre projet Supabase
VITE_SUPABASE_URL=https://fcdezpuhpsrdeihhngvi.supabase.co

# Clé publique (anon) de votre projet Supabase
VITE_SUPABASE_ANON_KEY=sb_publishable_rfKTT_l3XGzvVn3X76g7XQ_AB0PvYFB
